body {
	background-color: #fefefe;
	height: 100%;
}

.center {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}

.regForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30%;
	margin-bottom: 30%;
	width: 200px;
	height: 400px;
	background-color: aliceblue;
	border-radius: 8px;
	box-shadow: 0px 0px 40px #000000;
	flex-shrink: 0;
}

.error_message {
	color: red;
	text-align: center;
    font-family: sans-serif;
    font-size: 15px;
}
.error_message_login
{
	color: red;
	text-align: center;
    font-family: sans-serif;
    position: absolute;
    font-size: 12px;
    margin-top: 0px;
}
.post {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
	max-width: 640px;
	border-style: solid;
	border-width: 5px;
	border-radius: 10px;
	border-color: gray;
}
#map {
	overflow: hidden;
	position: relative;
}
#myCanvas {
	display: none;
}
.drag {
	position: relative;
}
#button_snap {
	display : block;
}
#users_images {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 150px;
	height: 480px;
}
#center_center {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#fun_images {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 75%;
	height: 110px;
}
#videoElement, #myCanvas {
	width: 100%;
}
#buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}
#button_save {
	display: none;
}
#button_remove {
	display: block;
}
#button_try_again {
	display: none;
}
.comment_box {
	word-wrap: break-word;
}