body {
	background-color: #fefefe;
	display: flex;
	flex-direction: column;
}

.center {
	margin: auto;
}

.regForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30%;
	margin-bottom: 30%;
	width: 200px;
	height: 400px;
	background-color: aliceblue;
	border-radius: 8px;
	box-shadow: 0px 0px 40px #000000;
	flex-shrink: 0;
}

.error_message {
	color: red;
	text-align: center;
    font-family: sans-serif;
    font-size: 15px;
}
.error_message_login
{
	color: red;
	text-align: center;
    font-family: sans-serif;
    position: absolute;
    font-size: 12px;
    margin-top: 0px;
}